//main: ./style.less

/*
filename: block.less
Block styles in BEM
Created for: Leeroy site
*/

body {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: @headerHeight;
  z-index: 2;
  margin: 0;
  padding: 0;
  position: fixed;
}

.index-section-one {
  background-color: tomato;
  height: 100vh;
}

.index-section-two {
  background-color: brown;
  height: 100vh;
}
