//main: ./style.less

/*
filename: block.less
Block styles in BEM
Created for: Leeroy site
*/

body {
  margin: 0;
  padding: 0;
}

.o-header {
  height: @extendedHeaderHeight;
  z-index: 2;
  position: fixed;
}

.o-headerNav {
  height: 100%;
}

.o-headerLogo {
  height: 100%;
}

.indexSectionOne {
  background-color: tomato;
  height: 100vh;
}

.indexSectionTwo {
  background-color: brown;
  height: 100vh;
}

.indexSectionThree {
  background-color: yellow;
  height: 100vh;
}

.indexSectionFour {
  background-color: green;
  height: 100vh;
}
