// main: ../style.less

/*
* Filename: o-block.less
* Description: Organism blocks in ABEM CSS method
* Author: Linus Sjöbro
*/

// Header
// -----------------------

.o-header {
  height: @headerHeight;
  position: fixed;
  z-index: 10;
}

.o-headerWrapper {
  height: 100%;
}

// Index section one
// -----------------------

.o-indexSectionOne {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  position: relative;
}

// Index section two
// -----------------------

.o-indexSectionTwoTop {
  padding-bottom: 70px;
  padding-top: 100px;
}

.o-indexSectionTwoBottom {
  padding-bottom: 90px;
  padding-top: 50px;
}

// Index section three
// -----------------------

// .o-indexSectionThree {
// }

// Index section four
// -----------------------

// .o-indexSectionFour {
// }

// Information page
// -----------------------

.o-informationPageTop {
  left: 0px;
  min-height: 45vh;
  padding: 0px;
}

.o-informationPageBottom {
  font-size: 16px;
  padding-bottom: 120px;
  padding-top: 60px;
}

.o-aboutTimeline {
  padding-bottom: 105px;
  padding-top: 50px;
}

// .o-aboutPageTeam {
// }

.o-aboutContact {
  padding-bottom: 50px;
}

// Footer
// -----------------------

.o-footer {
  background-color: @leeroyBlack;
  padding-bottom: 100px;
  padding-top: 40px;
}

// Knowledge hub
// -----------------------

.o-knowledgeHub {
  padding-bottom: 30px;
  background-color: @leeroyWhite;
}

// Knowledge hub single post
// -----------------------

.o-singlePost {
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: @leeroyWhite;
}
