// main: ../style.less

/*
* Filename: o-block.less
* Description: Organism blocks in ABEM CSS method
* Author: Linus Sjöbro
*/

// Header
// -----------------------

.o-header {
  height: @headerHeight;
  position: fixed;
  z-index: 10;
  .animationDuration(300ms);
  .animationDelay(400ms);
}

.o-headerWrapper {
  height: 100%;
}

.o-languageSelector {
  height: 200px;
  position: fixed;
  top: @headerHeight - 15px;
  z-index: 11;
  .animationDuration(200ms);
  .animationDelay(0);
}

// Mobile header
// -----------------------

.o-mobileHeader {
  padding-left: 25px;
  padding-right: 25px;
  height: @mobileHeaderHeight;
  position: fixed;
  z-index: 10;
  .animationDuration(300ms);
  .animationDelay(400ms);
}

.o-mobileHeaderMenu {
  background-color: @leeroyBlue;
  height: 100vh;
  position: fixed;
  top: 0; left: 0;
  z-index: 9;
  visibility: hidden;
  padding-top: 100px;
  padding-left: 25px;
  padding-right: 25px;
  .animationDuration(500ms);

}

// Index section
// -----------------------

.o-indexSection {
  // padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 0;
  padding-right: 0;
}

// Information page
// -----------------------

.o-informationPageTop {
  left: 0px;
  min-height: 45vh;
  padding: 0px;
  z-index: 2;

  .container {
    position: relative;
    padding: 0;
  }
}

.o-informationPageBottom {
  font-size: 17px;
  padding-bottom: 120px;
  padding-top: 60px;
}

.o-aboutOffices {
  padding-top: 75px;
  padding-bottom: 70px;
}

.o-aboutTimeline {
  padding-bottom: 105px;
  padding-top: 50px;
}

// .o-aboutPageTeam {
// }

.o-aboutContact {
  padding-bottom: 50px;
}

// About
// -----------------------

.o-aboutPage {
  padding-top: 40px;
  padding-bottom: 40px;
}

// Products
.o-productsPage {
  padding-top: 45px;
  padding-bottom: 45px;
}

.o-formPopupCover {
  height: 100%;
  width: 100%;
  position: fixed;
  background: rgba(47, 47, 47, 0.74);
  z-index: 10;
  display: none;
}

.o-popupForm {
  position: absolute;
  z-index: 10;
  display: none;
}

// Footer
// -----------------------

.o-footer {
  padding-top: 40px;
  padding-bottom: 100px;

  .container {
    @media screen and (max-width: 767px) {
      margin-top: 20px;

    }
    margin-top: 100px;
  }
}

// Knowledge hub menu
// -----------------------

.o-knowledgeHubMenu {
  background-color: @leeroyWhite;
  text-align: center;
  border-bottom: 1px solid #cfcfcf;
  z-index: 1;
  overflow-x: auto;
  white-space: nowrap;
}

.o-knowledgeHubMenuContent {
}

.o-knowledgeHubMenuDropdown {
  background-color: @leeroyBlue;
  display: none;
  z-index: 2;
  -webkit-animation-duration: 0.2s;
  padding: 5px 0;
  color: @leeroyWhite;
  font-size: 14px;
  text-align: center;

  span {
    margin-right: 25px;
  }
}

// Knowledge hub
// -----------------------

.o-knowledgeHub {
  padding-bottom: 30px;
  background-color: @leeroyWhite;
}

.o-knowledgeHubContent {
  margin-top: 90px;
  margin-bottom: 80px;
}

.o-knowledgeHubGrid {
  padding: 0 !important;
}

.o-knowledgeHubCell {
  margin-bottom: 15px;
}

.o-knowledgeHubCellContent {
  margin-top: auto; // A flex way to bottom align the element
  padding: 10px;
}

.o-knowledgeHubIndexGrid {

}


// Knowledge hub single post
// -----------------------

.o-singlePost {
  padding-top: 50px;
  padding-bottom: 80px;
  background: @leeroyWhite;
  color: @leeroyBlack;
  font-size: 16px;
}

.o-singlePostContentSlider {
  background-color: @leeroyWhite !important;
  border: 0 !important;

  .flex-control-paging li a {
    &:hover {
      background-color: @leeroyGold;
    }
  }
  .flex-control-paging li a.flex-active {
    background-color: @leeroyGold;
  }
}

// Archive
// -----------------------

.o-archive {
  background-color: @leeroyWhite;
  padding-bottom: 50px;
  padding-top: 50px;
}

.o-archiveContent {
}

// Error 404
// -----------------------

.o-error404 {
  text-align: center;
  background-color: #ededed;
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.o-error404Content {
  padding: 25px;
}

// Contat form
// -----------------------

.o-contactFormContent {
  margin-bottom: 0px;
}

.o-contactFormIcon {
  text-align: right;
}

// Globals
.o-clickBlanket {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.2);
}
