// main: ../style.less

/*
* Filename: o-block.less
* Description: Organism blocks in ABEM CSS method
* Author: Linus Sjöbro
*/

.o-header {
  height: @headerHeight;
  z-index: 10;
  position: fixed;
}

.o-headerWrapper {
  height: 100%;
}

.o-indexSectionOne {
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
}

.o-indexSectionTwo {
}

.o-indexSectionThree {
  padding-top: 50px;
  padding-bottom: 90px;
}

.o-indexSectionFour {
}

.o-indexSectionFive {
}

.o-informationPage {
}

.o-aboutTimeline {
  padding-top: 50px;
  padding-bottom: 105px;
}

.o-aboutPageTeam {
}

.o-aboutContact {
  padding-bottom: 50px;
}

.o-footer {
  background-color: @leeroyBlack;
  padding-top: 40px;
  padding-bottom: 100px;
}
