// main: ../style.less

/*
* Filename: o-element.less
* Description: Organism elements in ABEM CSS method
* Author: Linus Sjöbro
*/

.o-archiveContent__title {
  font-size: 40px;
  font-family: 'freightDispProBold-Regular';
  color: @leeroyBlack;
}
