// main: ../style.less
.red {
  background-color: @clr-red-200;
}

.blue {
  background-color: @clr-blue-200;
}

.green {
  background-color: @clr-green-200;
}

.orange {
  background-color: @clr-deep-orange-200;
}
