#wpadminbar {
  position: fixed;
}
#menu-mastermenu .current-menu-item > a {
  font-weight: bolder !important;
}
#menu-mobilemastermenu .current-menu-item > a {
  color: #FDFDFD !important;
}
.container-fluid {
  padding: 0;
}
.visible {
  visibility: hidden;
}
.display {
  display: inline !important;
}
.activeKnowHubMenu {
  color: #0B4F6C !important;
}
.activeKnowHubMenu:after {
  background-image: url('images/arrowBlue.svg') !important;
}
body {
  padding: 0px;
  margin: 0px;
}
p,
a,
span {
  font-family: 'proxima_novaregular';
  line-height: 1.6;
}
h1 {
  font-family: 'FreightDispProLight-Regular';
  font-weight: normal;
  font-style: normal;
}
h2,
h5 {
  font-family: 'proxima_novasemibold';
  font-weight: normal;
  margin: 0;
  padding: 0;
}
h3 {
  font-family: 'FreightDispProSemibold-Regular';
  font-weight: normal;
  font-style: normal;
}
h4 {
  font-family: 'FreightDispProBook-Regular';
  font-weight: normal;
  font-style: normal;
}
.container {
  padding-left: 25px;
  padding-right: 25px;
}
.verticalAlign {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.row,
.container {
  height: 100%;
}
.backgroundPosition {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.btnOutline {
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  border-color: #FDFDFD;
  padding: 10px 0;
}
/*
* Filename: o-block.less
* Description: Organism blocks in ABEM CSS method
* Author: Linus Sjöbro
*/
.o-header {
  height: 70px;
  position: fixed;
  z-index: 10;
}
.o-headerWrapper {
  height: 100%;
}
.o-mobileHeader {
  padding-left: 25px;
  padding-right: 25px;
  height: 60px;
  position: fixed;
  z-index: 10;
}
.o-mobileHeaderMenu {
  background-color: #0B4F6C;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  visibility: hidden;
  padding-top: 100px;
  padding-left: 25px;
  padding-right: 25px;
  -moz-animation-duration: .5s;
  -o-animation-duration: .5s;
  -webkit-animation-duration: .5s;
}
.test {
  visibility: visible;
}
.o-indexSection {
  padding-top: 80px;
  padding-bottom: 80px;
}
.o-indexSectionContent {
  padding-left: 25px;
  padding-right: 25px;
}
.o-indexSectionContent .caldera-grid {
  padding-top: 30px;
}
.o-indexSectionTop {
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  position: relative;
}
.o-indexSectionTopContent {
  color: #FDFDFD;
  margin-top: 20%;
  z-index: 1;
}
.o-informationPageTop {
  left: 0px;
  min-height: 45vh;
  padding: 0px;
}
.o-informationPageBottom {
  font-size: 17px;
  padding-bottom: 120px;
  padding-top: 60px;
}
.o-aboutOffices {
  padding-top: 75px;
  padding-bottom: 70px;
}
.o-aboutTimeline {
  padding-bottom: 105px;
  padding-top: 50px;
}
.o-aboutContact {
  padding-bottom: 50px;
}
.o-aboutPage {
  padding-top: 60px;
  padding-bottom: 60px;
}
.o-aboutPageContent {
  padding-left: 25px;
  padding-right: 25px;
}
.o-footer {
  background-color: #2F2F2F;
  padding-bottom: 100px;
  padding-top: 40px;
}
.o-knowledgeHub {
  padding-bottom: 30px;
  background-color: #FDFDFD;
}
.o-knowledgeHubMenu {
  text-align: center;
  border-bottom: 1px solid #cfcfcf;
  z-index: 1;
}
.o-knowledgeHubMenuDropdown {
  background-color: #0B4F6C;
  display: none;
  z-index: 2;
  -webkit-animation-duration: 0.2s;
  padding: 5px 0;
  color: #FDFDFD;
  font-size: 14px;
}
.o-knowledgeHubMenuDropdown span {
  margin-right: 25px;
}
.o-knowledgeHubGrid {
  margin-top: 120px;
  margin-bottom: 80px;
}
.o-knowledgeHubCell {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 15px;
  color: #FDFDFD;
  border: 1px solid #d5d5d5;
  border-radius: 2px;
  box-shadow: 0 3px 3px 0 rgba(233, 233, 233, 0.5);
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}
.o-knowledgeHubCellContent {
  margin-top: auto;
  padding: 10px;
}
.o-knowledgeHubContent {
  margin-top: 40px;
}
.o-singlePost {
  padding-top: 50px;
  padding-bottom: 80px;
  background-color: #FDFDFD;
  color: #2F2F2F;
  font-size: 16px;
}
.o-error404 {
  text-align: center;
  background-color: #ededed;
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.o-error404Content {
  padding: 25px;
}
/*
* Filename: o-element.less
* Description: Organism elements in ABEM CSS method
* Author: Linus Sjöbro
*/
/*
* Filename: o-modifier.less
* Description: Organism modifiers in ABEM CSS method
* Author: Linus Sjöbro
*/
.o-header--background {
  background-color: #FDFDFD;
  border-bottom: #e0e0e0 solid 1px;
}
/*
* Filename: m-block.less
* Description: Molecule blocks in ABEM CSS method
* Author: Linus Sjöbro
*/
.m-headerLogo {
  height: 100%;
  padding: 15px;
}
.m-mobileHeaderMenuBtn {
  position: absolute;
  height: 100%;
  right: 25px;
  width: 60px;
  float: right;
  color: #FDFDFD;
}
.m-mobileHeaderMenuBtn .hamburger-inner,
.m-mobileHeaderMenuBtn .hamburger-inner::before,
.m-mobileHeaderMenuBtn .hamburger-inner::after {
  background-color: #FDFDFD;
}
.m-mobileHeaderMenuBtn:hover .hamburger-inner,
.m-mobileHeaderMenuBtn:hover .hamburger-inner::before,
.m-mobileHeaderMenuBtn:hover .hamburger-inner::after {
  background-color: #FDFDFD;
}
.m-indexSectionContentText {
  padding-top: 80px;
}
.m-indexSectionTopContent {
  padding-left: 25px;
  padding-right: 120px;
  font-size: 20px;
}
.m-informationPageTopContent {
  z-index: 2;
  padding-left: 25px;
  padding-right: 25px;
}
.m-informationPageBottomContent {
  padding-left: 15px;
  padding-right: 15px;
}
.m-aboutTimelineContent {
  padding-left: 15px;
}
.m-aboutOfficesIcon {
  text-align: right;
}
.m-aboutOfficeCell {
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.m-aboutPageTeamContent {
  padding-bottom: 90px;
  padding-top: 60px;
}
.m-aboutTeamCell {
  border: 1px solid #1f1f1f;
}
.m-aboutTeamCellContent {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 125%;
  width: 100%;
  background-color: #442D5E;
}
.m-aboutTeamCellInfo {
  position: absolute;
  bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.m-aboutContactContent {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  position: relative;
}
.m-footerContent {
  padding-left: 25px;
  padding-right: 25px;
}
.m-footerInnerContentCol {
  height: 180px;
}
.m-knowledgeHubPost {
  border-radius: 2px;
  border: 1px solid #d5d5d5;
  box-shadow: 0 3px 3px 0 rgba(210, 210, 210, 0.5);
  padding: 40px;
  margin-bottom: 40px;
  background-color: #ffffff;
}
.m-knowledgehubCellInfo {
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.m-knowledgeHubButton {
  height: 100px;
  background-color: #ef9a9a;
}
.elm-button {
  border-radius: 8px;
  box-shadow: none;
  padding: 10px 20px;
  font-family: 'proxima_novaregular' !important;
  font-size: 14px;
  padding-left: 50px;
  padding-right: 50px;
}
.m-knowledgeHubMenuDropdownList {
  margin: 0;
  padding: 0;
}
.m-singlePostLeftColumn {
  height: auto;
  text-align: center;
}
.m-singlePostRightColumn {
  padding-left: 15px;
  padding-right: 15px;
}
.m-singlePostContent {
  font-size: 17px;
}
.m-singlePostTags {
  margin-top: 40px;
}
.m-singlePostContentImage {
  margin-top: 40px;
  margin-bottom: 40px;
}
.m-postAuthor {
  margin-top: 50px;
}
.m-singlePostShareList {
  margin: 0;
  padding: 0;
}
.m-singlePostMobileShareIcons {
  text-align: right;
  margin-top: 20px;
}
.m-singlePostMobileShareIcons ul li {
  margin-left: 20px;
}
.m-indexSectionItemCell {
  text-align: center;
  margin-top: 100px;
  font-size: 16px;
  padding-left: 15px;
  padding-right: 15px;
}
.m-mobileIndexSectionItemCells {
  margin-top: 20px;
}
/*
* Filename: m-element.less
* Description: Molecule elements in ABEM CSS method
* Author: Linus Sjöbro
*/
.m-header__nav {
  height: 100%;
  padding: 15px;
}
.m-header__nav ul {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  float: right;
  margin: 0;
  padding: 0;
}
.m-header__nav ul li {
  list-style: none;
  display: inline;
  margin-left: 10px;
}
.m-header__nav ul li a {
  color: #FDFDFD;
  text-decoration: none;
  font-size: 16px;
  text-align: left;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  -webkit-transition: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition: 0.2s;
  -o-transition-timing-function: ease-in-out;
  padding: 10px 20px;
}
.m-header__nav ul li a:hover {
  color: #C9AD74;
}
.m-mobileHeader__nav ul {
  margin: 0;
  padding: 0;
}
.m-mobileHeader__nav ul li {
  list-style: none;
  margin-bottom: 20px;
}
.m-mobileHeader__nav ul li a {
  text-decoration: none;
  font-size: 30px;
  color: #aaaaaa;
}
.m-mobileHeader__nav ul li a:hover {
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  -webkit-transition: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition: 0.2s;
  -o-transition-timing-function: ease-in-out;
  color: #FDFDFD;
}
.m-footer__logo {
  height: 30px;
  padding-left: 40px;
  font-size: 18px;
}
.m-footer__slogan {
  color: #FDFDFD;
  font-size: 20px;
  padding-left: 40px;
  font-family: 'proxima_novalight_italic';
}
.m-footer__nav {
  padding-left: 15px;
  padding-top: 15px;
}
.m-footer__nav ul {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 35%;
  padding-left: 5px;
}
.m-footer__nav ul li {
  list-style: none;
  margin-bottom: 15px;
}
.m-footer__nav ul li a {
  font-size: 18px;
  text-decoration: none;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  -webkit-transition: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition: 0.2s;
  -o-transition-timing-function: ease-in-out;
  color: #FDFDFD;
}
.m-footer__nav ul li a:hover {
  color: #C9AD74;
}
.m-singlePostInfo__text {
  margin-bottom: 40px;
  color: #0B4F6C;
}
.m-knowledgeHubMenu__nav ul {
  margin: 0;
  padding: 0;
}
.m-knowledgeHubMenu__nav ul li {
  padding: 20px 10px;
  list-style: none;
  display: inline-block;
  margin: 10px 15px;
  font-size: 14px;
  text-decoration: none;
  font-family: 'proxima_novabold';
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  -webkit-transition: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition: 0.2s;
  -o-transition-timing-function: ease-in-out;
  color: #2F2F2F;
}
.m-knowledgeHubMenu__nav ul li:after {
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  -webkit-transition: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition: 0.2s;
  -o-transition-timing-function: ease-in-out;
  background-image: url('images/arrowBlack.svg');
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  top: 4px;
  left: 3px;
  content: '';
}
.m-knowledgeHubMenu__nav ul li:hover {
  color: #0B4F6C;
  cursor: pointer;
}
.m-knowledgeHubMenu__nav ul li:hover:after {
  background-image: url('images/arrowBlue.svg');
}
.m-pageSection__image {
  position: absolute;
  object-fit: cover;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}
.m-error404__image {
  width: 100%;
  max-width: 500px;
}
.m-error404__text {
  color: #2F2F2F;
  font-size: 30px;
  font-family: 'proxima_novabold';
}
.m-error404__button {
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  -webkit-transition: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition: 0.2s;
  -o-transition-timing-function: ease-in-out;
  text-decoration: none;
  font-size: 20px;
  font-family: 'proxima_novabold';
  color: #2F2F2F;
  padding: 15px 20px;
  border: 4px solid;
  border-color: #2F2F2F;
  border-radius: 46px;
}
.m-error404__button:hover {
  color: #C9AD74;
  border-color: #C9AD74;
}
/*
* Filename: m-modifier.less
* Description: Molecule modifiers in ABEM CSS method
* Author: Linus Sjöbro
*/
.m-header__nav--darkTextColor ul li a {
  color: #424242;
}
.m-mobileHeaderMenuBtn--darkColor .hamburger-inner,
.m-mobileHeaderMenuBtn--darkColor .hamburger-inner::before,
.m-mobileHeaderMenuBtn--darkColor .hamburger-inner::after {
  background-color: #2F2F2F;
}
/*
* Filename: a-block.less
* Description: Atom blocks in ABEM CSS method
* Author: Linus Sjöbro
*/
.a-knowledgeHubPostImage {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.a-knowledgeHubPostContent {
  height: 100%;
  text-align: center;
  padding-top: 15px;
}
.a-knowledgeHubCellTint {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.a-aboutOfficesInfo p:last-child {
  margin: 0;
  padding: 0;
}
/*
* Filename: a-element.less
* Description: Atom elements in ABEM CSS method
* Author: Linus Sjöbro
*/
.a-headerLogo__link {
  display: block;
  height: 100%;
  width: 100px;
}
.a-headerLogo__logo {
  position: absolute;
  bottom: 30%;
  height: 40%;
  pointer-events: none;
}
.a-indexSectionContent__title {
  font-size: 30px;
  margin-bottom: 20px;
}
.a-indexSectionContent__image {
  padding-top: 50px;
}
.a-indexSectionMobile__image {
  padding-top: 50px;
}
.a-indexSectionContent__topTitle {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  font-size: 45px;
  padding-left: 35px;
  padding-right: 35px;
  line-height: 1.29;
}
.a-indexSectionContent__topContent {
  margin: 0;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 20px;
}
.a-footerNav__title {
  color: #FDFDFD;
  margin-bottom: 30px;
  font-size: 18px;
}
.a-footerLogo__link {
  display: block;
}
.a-footerLogo__logo {
  height: 30px;
  padding-left: 40px;
  pointer-events: none;
}
.a-informationPage__title {
  margin: 0;
  position: absolute;
  bottom: 30%;
  font-size: 65px;
  color: #FDFDFD;
}
.a-informationPage__slogan {
  font-size: 22px;
  position: absolute;
  bottom: 11%;
  color: #FDFDFD;
}
.a-aboutTimeline__title {
  font-size: 35px;
  color: #442D5E;
  margin-bottom: 40px;
}
.a-aboutOffice__title {
  font-size: 16px;
}
.a-aboutOffices__icon {
  width: 60px;
  height: 60px;
}
.a-aboutPageSection__header {
  font-size: 35px;
  margin-bottom: 55px;
}
.a-aboutContact__header {
  font-size: 30px;
  color: #442D5E;
  margin-bottom: 30px;
}
.a-aboutTeamLastCell__icon {
  width: 50%;
  left: 25%;
  position: absolute;
  top: 26%;
}
.a-aboutTeam__noPicText {
  position: absolute;
  width: 100%;
  top: 38%;
  left: 0;
  font-size: 13px;
  color: #aaaaaa;
  text-align: center;
}
.a-aboutTeam__name {
  color: #FDFDFD;
  font-family: 'FreightDispProSemibold-Regular';
  font-size: 18px;
  margin: 0;
}
.a-aboutTeam__position {
  color: #FDFDFD;
  font-size: 16px;
  margin: 0;
}
.a-knowledgeHubCell__title,
.a-knowledgeHubCell__caseTitle {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}
.a-knowledgeHubCell__caseTitle:before {
  content: 'Case: ';
}
.a-knowledgehubMenuDropdownItem {
  display: inline-block;
  list-style: none;
  margin-right: 5px;
}
.a-knowledgehubMenuDropdownItem a {
  color: #FDFDFD;
  display: block;
  padding: 20px 10px;
}
.a-knowledgehubMenuDropdownItem a:hover {
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  -webkit-transition: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition: 0.2s;
  -o-transition-timing-function: ease-in-out;
  color: #C9AD74;
}
.a-singlePost__title,
.a-singlePost__caseTitle {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 12px;
  font-family: 'freightDispProBold-Regular';
  color: #2F2F2F;
}
.a-singlePost__caseTitle:before {
  content: 'Case: ';
}
.a-singlePostInfo__category {
  color: #aaaaaa;
  font-size: 16px;
  font-family: 'proxima_novaregular';
  text-decoration: none;
}
.a-singlePostInfo__category:hover {
  color: #C9AD74;
}
.a-singlePostContent__image {
  width: 100%;
  height: auto;
}
.a-singlePotContent__imageDesc {
  margin: 0;
  font-size: 14px;
  color: #2F2F2F;
  opacity: .7;
}
.a-singlePostContent__quote {
  font-size: 25px;
  font-family: 'proxima_novabold';
  color: #0B4F6C;
  padding-left: 35px;
  padding-right: 45px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.a-singlePostContent__quote:before {
  content: '"';
}
.a-singlePostContent__quote:after {
  content: '"';
}
.a-singlePostInfo__author {
  font-size: 18px;
  color: #0B4F6C;
}
.a-singlePostInfo__date {
  font-size: 16px;
  color: #0B4F6C;
}
.a-singlePostShareList__item {
  list-style: none;
  display: inline;
}
.a-singlePostShare__link {
  display: inline-block;
  height: 30px;
  text-align: center;
  margin-bottom: 10px;
}
.a-singlePostShare__link svg {
  height: 100%;
  pointer-events: none;
  fill: #aaaaaa;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  -webkit-transition: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition: 0.2s;
  -o-transition-timing-function: ease-in-out;
}
.a-singlePostShare__link svg .svgCircle {
  stroke: #aaaaaa;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  -webkit-transition: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition: 0.2s;
  -o-transition-timing-function: ease-in-out;
}
.a-singlePostShare__facebook:hover svg {
  fill: #3b5998;
}
.a-singlePostShare__facebook:hover svg .svgCircle {
  stroke: #3b5998;
}
.a-singlePostShare__google:hover svg {
  fill: #ea4335;
}
.a-singlePostShare__google:hover svg .svgCircle {
  stroke: #ea4335;
}
.a-singlePostShare__twitter:hover svg {
  fill: #1da1f2;
}
.a-singlePostShare__twitter:hover svg .svgCircle {
  stroke: #1da1f2;
}
.a-singlePostShare__linkedin:hover svg {
  fill: #00a0dc;
}
.a-singlePostShare__linkedin:hover svg .svgCircle {
  stroke: #00a0dc;
}
.a-singlePostShare__icon {
  height: 100%;
  pointer-events: none;
}
.a-postTags_title {
  font-size: 14px;
  color: #aaaaaa;
}
.a-postTags__tag {
  text-decoration: none;
  color: #aaaaaa;
  font-size: 14px;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  -webkit-transition: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition: 0.2s;
  -o-transition-timing-function: ease-in-out;
}
.a-postTags__tag:hover {
  color: #C9AD74;
}
.a-postAuthor__image {
  border-radius: 50%;
}
.a-postAuthor__author {
  margin: 0;
  font-size: 20px;
  color: #2e2e2e;
}
.a-postAuthor__role {
  margin-top: 0;
  margin-bottom: 15px;
  color: #aaaaaa;
  font-size: 16px;
}
.a-postAuthor_description {
  font-family: 'proxima_novalight_italic';
  color: #aaaaaa;
  font-size: 16px;
  margin: 0;
}
.a-singlePostRightBox__list {
  margin: 0;
  padding: 0;
}
.a-singlePostRightBox__item {
  list-style: none;
  margin-bottom: 15px;
}
.a-singlePostRightBox__item a {
  text-decoration: none;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  -webkit-transition: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition: 0.2s;
  -o-transition-timing-function: ease-in-out;
  color: #2F2F2F;
}
.a-singlePostRightBox__item a:hover {
  color: #C9AD74;
}
.a-elementToner {
  height: 100%;
  left: 0px;
  position: absolute;
  z-index: 0;
}
.a-btn {
  border-radius: 8px;
  box-shadow: none;
  padding: 10px 20px;
  font-family: 'proxima_novaregular' !important;
}
.a-btnPurple {
  background-color: #442D5E;
  color: #FDFDFD;
}
.a-headerNav__loginButton a {
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  border-color: #FDFDFD;
  padding: 10px 0;
  padding: 10px 20px !important;
  font-family: 'proxima_novaregular';
}
.a-aboutForm__icon {
  position: absolute;
  width: 80px;
  height: 80px;
}
.a-contactForm__input {
  font-family: 'proxima_novasemibold';
  padding-bottom: 50px;
  font-size: 18px;
  color: #2F2F2F;
}
.a-contactForm__input input {
  background-color: #FDFDFD !important;
  border: 0 !important;
  box-shadow: none !important;
  border-bottom: 2px solid #442D5E !important;
  font-size: 18px !important;
  color: #2F2F2F !important;
}
.a-formButton {
  float: right;
  margin-top: -30px;
}
.a-indexSectionItemCell__icon {
  text-align: center;
  height: 40%;
  margin-bottom: 30px;
}
.a-indexSectionItemCell__title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;
}
.a-indexSectionItemCell__content {
  font-size: 16px;
  text-align: center;
}
.a-indexSectionItemCell__content p:last-child {
  margin: 0;
  padding: 0;
}
.a-mobileIndexSectionItemCell__icon {
  height: 100px;
  margin-bottom: 30px;
}
/*
* Filename: a-modifier.less
* Description: Atom modifiers in ABEM CSS method
* Author: Linus Sjöbro
*/
.a-title--left {
  text-align: left;
}
.a-title--center {
  text-align: center;
}
.a-title--right {
  text-align: right;
}
.a-textColor--black {
  color: #2F2F2F;
}
.a-textColor--purple {
  color: #442D5E;
}
.a-textColor--white {
  color: #FDFDFD;
}
.a-textColor--blue {
  color: #0B4F6C;
}
.a-textColor--gold {
  color: #C9AD74;
}
.a-backgroundColor--black {
  background-color: #2F2F2F;
}
.a-backgroundColor--purple {
  background-color: #442D5E;
}
.a-backgroundColor--white {
  background-color: #FDFDFD;
}
.a-backgroundColor--blue {
  background-color: #0B4F6C;
}
.a-backgroundColor--gold {
  background-color: #C9AD74;
}
.a-fontSize--20 {
  font-size: 20px;
}
.a-fontSize--25 {
  font-size: 25px;
}
.a-fontSize--30 {
  font-size: 30px;
}
.a-fontSize--35 {
  font-size: 35px;
}
.a-fontSize--40 {
  font-size: 40px;
}
.a-knowledgeHubCell__title--fontSize25 {
  font-size: 25px;
}
.a-knowledgeHubCell__title--fontSize45 {
  font-size: 45px;
  line-height: 1.3;
  margin-bottom: 20px;
}
.owl-dots {
  padding-top: 30px;
}
.owl-dots .owl-dot span {
  background: #ffffff !important;
  width: 9px !important;
  height: 9px !important;
}
.owl-dots .active span {
  background: #C9AD74 !important;
  width: 12px !important;
  height: 12px !important;
}
@media screen and (max-width: 767px) {
  .a-indexSectionContent__title {
    font-size: 25px;
  }
  .a-indexSectionContent__topTitle {
    font-size: 30px;
  }
  .m-indexSectionTopContent {
    font-size: 16px;
    padding-right: 25px;
  }
  .a-informationPage__title {
    font-size: 30px;
  }
  .a-informationPage__slogan {
    font-size: 16px;
  }
  .m-footer__nav ul {
    left: 0;
  }
  .a-footerNav__title {
    margin-bottom: 15px;
  }
  .a-aboutForm__icon {
    bottom: 15px;
    left: 15px;
    width: 50px;
    height: 50px;
  }
  .m-aboutPageTeamContent {
    padding-left: 15px;
    padding-right: 15px;
  }
  .m-knowledgeHubPost {
    height: 100%;
  }
  .a-knowledgeHubPostImage {
    padding-bottom: 56.25%;
  }
  .o-knowledgeHubContent {
    padding-left: 20px;
    padding-right: 20px;
  }
  .a-postAuthor_description {
    margin-top: 20px;
  }
  .m-postAuthorInfo {
    margin-top: 25px;
  }
  .o-informationPageBottomContent {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (min-width: 768px) {
  .a-aboutForm__icon {
    top: 110px;
    right: 90px;
  }
  .m-aboutPageTeamContent {
    padding-left: 60px;
    padding-right: 60px;
  }
  .m-knowledgeHubPost {
    height: 300px;
  }
  .a-knowledgeHubPostImage {
    height: 100%;
  }
  .m-aboutTextColumnContent:nth-child(1) {
    padding-right: 50px;
  }
  .m-aboutTextColumnContent:nth-child(2) {
    padding-left: 50px;
  }
}
@media screen and (min-width: 992px) {
  .m-aboutTextColumnContent:nth-child(1) {
    padding-right: 100px;
  }
  .m-aboutTextColumnContent:nth-child(2) {
    padding-left: 100px;
  }
}
.red {
  background-color: #ef9a9a;
}
.blue {
  background-color: #90caf9;
}
.green {
  background-color: #a5d6a7;
}
.orange {
  background-color: #ffab91;
}
