// main: ../style.less
/*
* Filename: m-block.less
* Description: Molecule blocks in ABEM CSS method
* Author: Linus Sjöbro
*/

// header
// -----------------------

.m-headerLogo {
  height: 100%;
  padding: 15px;
}

// Index section one
// -----------------------

.m-indexSectionOneContent {
  color: @leeroyWhite;
  margin-top: 20%;
  z-index: 1;
}

// Index section two
// -----------------------

.m-indexSectionTwoTopContent {
  color: @leeroyWhite;
}

// .m-indexSectionTwoBottomContent {
// }

// Index section three
// -----------------------

.m-indexSectionThreeContent {
  color: @leeroyBlack;
  padding-top: 100px;
}

.m-indexSectionThreeTopContent {
  margin-bottom: 110px;
}

// Index section four
// -----------------------

.m-indexSectionFourContent {
  color: @leeroyWhite;
  padding-bottom: 65px;
  padding-top: 80px;
}

// Index section five
// -----------------------

.m-indexSectionFiveContent {
  padding-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

// Information page
// -----------------------

.m-informationPageTopContent {
  z-index: 2;
}

.m-informationPageBottomContent {
  padding-left: 15px;
  padding-right: 15px;
}

.m-informationPageColBottomContent {
  &:nth-child(1) {
    padding-left: 15px;
    padding-right: 100px;
  }

  &:nth-child(2) {
    padding-left: 100px;
    padding-right: 15px;
  }
}

// About
// -----------------------

.m-aboutTimelineContent {
  padding-left: 15px;
}

.m-aboutPageTeamContent {
  padding-bottom: 90px;
  padding-top: 60px;
  // Left and right padding is controlled with media queries
}

.m-aboutTeamCell {
  margin-bottom: 40px;
}

.m-aboutTeamCellContent {
  .backgroundPosition;
  padding-bottom: 115.625%;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.m-aboutContactContent {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  position: relative;
}

// Footer
// -----------------------

// .m-footerContent {
// }

// .m-footerInnerContent {
// }

.m-footerInnerContentCol {
  height: 180px;
}

// Knowledge hub
// -----------------------

.m-knowledgeHubContent {
  padding-left: 50px;
  padding-right: 50px;
}

.m-knowledgeHubLeft {
  padding-top: 50px;
}

.m-knowledgeHubPost {
  // Height is controlled with media queries
  border-radius: 2px;
  border: 1px solid #d5d5d5;
  box-shadow: 0 3px 3px 0 rgba(210, 210, 210, 0.5);
  padding: 40px;
  margin-bottom: 40px;
  background-color: @pureWhite;
}

.m-knowledgeHubRight {
  height: 100%;
  padding-top: 50px;
  position: relative;
}


.m-knowledgeHubButton {
  height: 100px;
  .red;
}

.elm-button {
  .a-btn;
  font-size: 14px;
  padding-left: 50px;
  padding-right: 50px;
}

// Knowledge hub single post
// -----------------------

.m-singlePostLeft {
  border-radius: 2px;
  border: 1px solid #d5d5d5;
  box-shadow: 0 3px 3px 0 rgba(210, 210, 210, 0.5);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 40px;
  background-color: @pureWhite;
}

.m-singlePostContent {
  margin-bottom: 30px;
  color: @leeroyBlack;
  font-size: 16px;
}

.m-singlePostShare {
  text-align: right;
  margin-top: 40px;
}

.m-singlePostTags {
  margin-top: 40px;
}

// Knowledge hub single post author
// -----------------------

.m-postAuthor {
}

.m-postAuthorContent {
  margin-top: 2%;
}

// Globals
// -----------------------

.m-pageImageFader {
  height: 100%;
  left: 0px;
  position: absolute;
  z-index: 0;
}

.m-indexSectionItem {
  margin-bottom: 100px;
}

// Knowledge single post right box
.m-contentRightBox {
  background-color: @pureWhite;
  border-radius: 2px;
  border: 1px solid #d5d5d5;
  box-shadow: 0 3px 3px 0 rgba(210, 210, 210, 0.5);
  padding: 16px;
  margin-bottom: 40px;
}
