// main: ../style.less
/*
* Filename: m-block.less
* Description: Molecule blocks in ABEM CSS method
* Author: Linus Sjöbro
*/

// header
// -----------------------

.m-headerLogo {
  height: 100%;
  padding: 15px;
}

// Mobile header
// -----------------------

.m-mobileHeaderMenuBtn {
  position: absolute;
  height: 100%;
  right: 25px;
  width: @mobileHeaderHeight;
  float: right;
  color: @leeroyWhite;

  .hamburger-inner {
    &, &::before, &::after {
      background-color: @leeroyWhite;
    }
  }

  &:hover {
    .hamburger-inner {
      &, &::before, &::after {
        background-color: @leeroyGold !important;
      }
    }
  }
}

// Index section
// -----------------------

.m-indexSectionContentText {
  padding-top: 80px;
}

.m-indexSectionTopContent {
  padding-left: 25px;
  padding-right: 120px;
  font-size: 20px;
}

// Information page
// -----------------------

.m-informationPageTopContent {
  z-index: 2;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 30px;
}

.m-informationPageBottomContent {
  padding-left: 15px;
  padding-right: 15px;
}

// About
// -----------------------

.m-aboutTimelineContent {
  padding-left: 15px;
}

.m-aboutOfficesIcon {
  text-align: right;
}

.m-aboutOfficesContent {

}

.m-aboutOfficeCell {
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.m-aboutPageTeamContent {
  padding-bottom: 90px;
  padding-top: 60px;
  // Left and right padding is controlled with media queries
}

.m-aboutTeamCell {
  border: 1px solid #1f1f1f;
  margin: 0; padding: 0;
}

.m-aboutTeamCellContent {
  .backgroundPosition;
  background-color: @leeroyPurple;
  padding-bottom: 125%;
  width: 100%;
}

.m-aboutTeamCellInfo {
  position: absolute;
  bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.m-aboutContactContent {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  position: relative;
}


// Footer
// -----------------------

.m-footerContent {
  padding-left: 25px;
  padding-right: 25px;
}

// .m-footerInnerContent {
// }

.m-footerInnerContentCol {
  height: 180px;
}

// Knowledge hub
// -----------------------

.m-knowledgeHubPost {
  // Height is controlled with media queries
  border-radius: 2px;
  border: 1px solid #d5d5d5;
  box-shadow: 0 3px 3px 0 rgba(210, 210, 210, 0.5);
  padding: 40px;
  margin-bottom: 40px;
  background-color: @pureWhite;
}

.m-knowledgehubCellInfo {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.m-knowledgeHubButton {
  height: 100px;
  .red;
}

.elm-button {
  .a-btn;
  font-size: 14px;
  padding-left: 50px;
  padding-right: 50px;
}

.m-knowledgeHubMenuDropdownList {
  margin: 0;
  padding: 0;
}

.m-knowledgeHubMenuNav {
}

.m-knowledgeHubHoverContent {
  position: absolute;
  display: grid;
  align-self: center;
  justify-content: center;
  left: 20px;
  right: 20px;
  z-index: 3;
  opacity: 0;
}

// Knowledge hub single post
// -----------------------

.m-singlePostLeftColumn {
  height: auto;
  text-align: center;
}

.m-singlePostRightColumn {
  padding-left: 15px;
  padding-right: 15px;
}

.m-singlePostContent {
  font-size: 17px;
}

.m-singlePostTags {
  margin-top: 40px;
}

.m-singlePostContentImage {
  margin-bottom: 20px;
}

// Knowledge hub single post author
// -----------------------

.m-postAuthor {
  margin-top: 50px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.m-postAuthorInfo {
  padding-left: 15px;
}

// Knowledge hub single post share icons
.m-singlePostShareList {
  margin: 0;
  padding: 0;
}

.m-singlePostMobileShareIcons {
  text-align: right;
  margin-top: 20px;

  ul {
    li {
      margin-left: 20px;
    }
  }
}

// Contact forms
// -----------------------

.m-contactFormButton {
  text-align: right;
}

.m-contactFormInput {
  .contactFormLabels;
  padding-bottom: 50px;

  input {
    background-color: @leeroyWhite !important;
    border: 0 !important;
    box-shadow: none !important;
    border-bottom: 2px solid @leeroyPurple !important;
    font-size: 18px !important;
    color: @leeroyBlack !important;
  }
}

.m-contactFormCheckbox {
  margin-bottom: 25px !important;
  div>.checkbox {
    label {
      .contactFormLabels;

      input {
        margin-right: 20px;
      }
    }
  }
}

.m-contactFormMessage {
  margin-bottom: 25px !important;
  .contactFormLabels;

  textarea {
    font-size: 16px !important;
    border: 2px solid @leeroyPurple !important;
    box-shadow: none !important;
    background-color: @leeroyWhite !important;
  }
}

// Globals
// -----------------------

.m-indexSectionItemCell {
  text-align: center;
  margin-top: 100px;
  font-size: 16px;
  padding-left: 15px;
  padding-right: 15px;

  display: grid;
  justify-items: center;
}

.m-mobileIndexSectionItemCells {
  margin-top: 20px;
  .owl-dots {
    padding-top: 30px;

    .owl-dot {
      span {
        background: #ffffff !important;
        width: 9px !important;
        height: 9px !important;
      }
    }

    .active {
      span {
        background: @leeroyGold !important;
        width: 12px !important;
        height: 12px !important;

      }
    }
  }
}
