// main: ../style.less

.m-header__logo {
  background-color: red;
  position: absolute;
  bottom: 30%;
  height: 40%;
}

.m-headerNav {
  ul {
    position: relative;
    .verticalAlign;
    float: right;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: inline;
      margin-left: 20px;

      a {
        text-decoration: none;
        font-size: 16px;
      	font-weight: bold;
      	text-align: left;
      	color: #ffffff;
      }
    }
  }
}
