// main: ../style.less
/*
* Filename: m-element.less
* Description: Molecule elements in ABEM CSS method
* Author: Linus Sjöbro
*/

.m-header__nav {
  height: 100%;
  padding: 15px;
  ul {
    position: relative;
    .verticalAlign;
    float: right;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: inline;
      margin-left: 20px;

      a {
        text-decoration: none;
        font-size: 16px;
      	text-align: left;

        &:hover {
          .fadeInTransition(0.3s);
          color: @leeroyGold;
        }
      }
    }
  }
}

.m-pageSection__image {
  position: absolute;
  object-fit: cover;
  height: 100%;
  left: 0;
  margin: 0; padding: 0;
}

.m-footer__logo {
  height: 30px;
  padding-left: 40px;
}

.m-footer__slogan {
  color: @leeroyWhite;
  font-size: 20px;
  padding-left: 40px;
  font-family: 'proxima_novalight_italic';
}

.m-footer__nav {
  padding-left: 15px;
  padding-left: 15px;
  padding-top: 15px;
  ul {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 35%;
    padding-left: 5px;
    li {
      list-style: none;
      margin-bottom: 15px;
      a {
        text-decoration: none;
        color: @leeroyWhite;

        &:hover {
          .fadeInTransition(0.3s);
          color: @leeroyGold;
        }
      }
    }
  }
}
