// main: ../style.less

/*
* Filename: a-element.less
* Description: Atom elements in ABEM CSS method
* Author: Linus Sjöbro
*/

.a-header__logo__logo {
  position: absolute;
  bottom: 25%;
  height: 50%;
}

.a-indexSectionOneText__header {
  margin: 0;
  margin-bottom: 35px;
  font-size: 65px;
}

.a-indexSectionOneText__paragraph {
  margin: 0;
  font-size: 20px;
}
