// main: ../style.less

/*
* Filename: a-element.less
* Description: Atom elements in ABEM CSS method
* Author: Linus Sjöbro
*/

// Header
// -----------------------
.a-headerLogo__link,  {
  display: block;
  height: 100%;
  width: 100px;
}

.a-headerLogo__logo {
  position: absolute;
  bottom: 30%;
  height: 40%;
  pointer-events: none;
}

// Index section one
// -----------------------
.a-indexSectionOneContent__title {
  // Text-align is controlled with media queries
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  font-size: 45px;
  width: 65%;
  line-height: 1.29;
}

.a-indexSectionOneContent__text {
  // Text-align is controlled with media queries
  margin: 0;
  font-size: 20px;
  width: 45%;
}

// Index section two
// -----------------------
.a-indexSectionTwoContent__title {
  margin-bottom: 120px;
  text-align: center;
  color: @leeroyWhite;
  font-size: 30px;
}

.a-indexSectionTwoBottom__title {
  color: @leeroyPurple;
  font-size: 35px;
  margin-bottom: 45px;
}

.a-indexSectionTwoBottom__image {

}

// Index section three
// -----------------------
.a-indexSectionThreeContent__title {
  text-align: right;
  font-size: 40px;
  position: absolute;
  right: 0;
  top: 40%;
  color: @leeroyPurple;
}

.a-indexSectionThreeContent__icon {
}

// Index section four
// -----------------------
.a-indexSectionFourContent__title {
  margin-bottom: 85px;
  text-align: center;
  font-size: 30px; //TODO ändra till rätt storlek sen
  color: @leeroyWhite;
}

// Index section five
// -----------------------
.a-indexSectionFiveContent__title {
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 30px;
  color: @leeroyPurple;
}

// Footer
// -----------------------
.a-footerNav__title {
  color: @leeroyWhite;
  margin-bottom: 30px;
  font-size: 18px;
}

.a-footerLogo__link {
  display: block;
}

.a-footerLogo__logo {
  height: 30px;
  padding-left: 40px;
  pointer-events: none;
}

// Information page
// -----------------------
.a-informationPage__header {
  margin: 0;
  position: absolute;
  bottom: 30%;
  font-size: 65px;
  color: @leeroyWhite;
}

.a-informationPage__slogan {
  font-size: 22px;
  position: absolute;
  bottom: 11%;
  color: @leeroyWhite;
}

// About Leeroy
// -----------------------
.a-aboutTimeline__title {
  font-size: 35px;
  color: @leeroyPurple;
  margin-bottom: 40px;
}

.a-aboutPageTeam__header {
  text-align: center;
  font-size: 30px;
  color: @leeroyWhite;
  margin-bottom: 55px;
}

.a-aboutContact__header {
  font-size: 30px;
  color: @leeroyPurple;
  margin-bottom: 30px;
}

.a-aboutTeamLastCell__icon {
  width: 50%;
  left: 25%;
  position: absolute;
  top: 26%;
}

.a-aboutTeam__name {
  position: absolute;
  bottom: 8%;
  color: @leeroyWhite;
  font-family: 'FreightDispProSemibold-Regular';
  font-size: 18px;
}

.a-aboutTeam__email {
  position: absolute;
  bottom: 0;
  color: @leeroyWhite;
  font-size: 16px;
}

// Knowledge hub
// -----------------------


// Knowlede hub single post
// -----------------------

.a-singlePost__title {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 12px;
  font-family: 'freightDispProBold-Regular';
  color: @leeroyBlack;
}

.a-singlePostInfo__category {
  color: @secondaryContent;
  font-size: 16px;
  font-family: 'proxima_novaregular';
  text-decoration: none;

  &:hover {
    color: @leeroyGold;
  }
}

.a-singlePostContent__image {
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.a-singlePostContent__quote {
  font-size: 25px;
  font-family: 'proxima_novabold';
  color: @leeroyBlue;
  padding-left: 35px;
  padding-right: 45px;
  margin-bottom: 40px;
  margin-top: 40px;

  &:before {
    content: '"';
  }

  &:after {
    content: '"';
  }
}

// Knowledge hub single post info
// -----------------------

.a-singlePostInfo__author {
  font-size: 18px;
  color: @leeroyBlue;
}

.a-singlePostInfo__date {
  font-size: 16px;
  color: @leeroyBlue;
}

.a-singlePostShareList__item {
  list-style: none;
}

.a-singlePostShare__link {
  display: block;
  height: 30px;
  text-align: center;
  margin-bottom: 10px;

  svg {
    height: 100%;
    pointer-events: none;
    fill: @secondaryContent;
    .fadeInTransition(0.2s);

    .svgCircle {
      stroke: @secondaryContent;
      .fadeInTransition(0.2s);
    }
  }
}

.a-singlePostShare__facebook:hover {
  svg {
    fill: #3b5998;
    .svgCircle {
      stroke: #3b5998;
    }
  }
}

.a-singlePostShare__google:hover {
  svg {
    fill: #ea4335;
    .svgCircle {
      stroke: #ea4335;
    }
  }
}

.a-singlePostShare__twitter:hover {
  svg {
    fill: #1da1f2;
    .svgCircle {
      stroke: #1da1f2;
    }
  }
}

.a-singlePostShare__linkedin:hover {
  svg {
    fill: #00a0dc;
    .svgCircle {
      stroke: #00a0dc;
    }
  }
}

.a-singlePostShare__icon {
  height: 100%;
  pointer-events: none;
}

.a-postTags_title {
  font-size: 14px;
  color: @secondaryContent;
}

.a-postTags__tag {
  text-decoration: none;
  color: @secondaryContent;
  font-size: 14px;
  .fadeInTransition(0.2s);

  &:hover {
    color: @leeroyGold;
  }
}

// Knowledge hub single post author
// -----------------------

.a-postAuthor__image {
  border-radius: 50%;
}

.a-postAuthor__author {
  margin: 0;
  font-size: 20px;
  color: @leeroyBlue;
}

.a-postAuthor__role {
  margin: 0;
  color: @secondaryContent;
  font-size: 16px;
}

.a-postAuthor_description {
  font-family: 'proxima_novalight_italic';
  color: @secondaryContent;
  font-size: 16px;
}

// Knowledge hub single post right box
// -----------------------

.a-singlePostRightBox__list {
  margin: 0;
  padding: 0;
}

.a-singlePostRightBox__item {
  list-style: none;
  margin-bottom: 15px;

  a {
    text-decoration: none;
    .fadeInTransition(0.2s);
    color: @leeroyBlack;

    &:hover {
      color: @leeroyGold;
    }
  }
}


// Globals
// -----------------------
.a-btn {
  border-radius: 8px;
  box-shadow: none;
  padding: 10px 20px;
  font-family: 'proxima_novaregular' !important;
}

.a-btnPurple {
  background-color: @leeroyPurple;
  color: @leeroyWhite;
}

.a-contactForm__icon {
  position: absolute;
  width: 80px;
  height: 80px;
  // Position is controlled with media queries!
}

.a-contactForm__input {
  font-family: 'proxima_novasemibold';
  padding-bottom: 50px;
  font-size: 18px;
  color: @leeroyBlack;

  input {
    background-color: @leeroyWhite !important;
    border: 0 !important;
    box-shadow: none !important;
    border-bottom: 2px solid @leeroyPurple !important;
    font-size: 18px !important;
    color: @leeroyBlack !important;
  }
}

.a-formButton {
  float: right;
  margin-top: -30px;
}

.a-indexSectionItemCell__icon {
  text-align: center;
  height: 40%;
  margin-bottom: 30px;
}

.a-indexSectionItemCell__title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;
}

.a-indexSectionItemCell__content {
  font-size: 16px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}
