// main: ../style.less

/*
* Filename: a-modifier.less
* Description: Atom modifiers in ABEM CSS method
* Author: Linus Sjöbro
*/


.a-indexSectionContent__title--left {
  text-align: left;
}

.a-indexSectionContent__title--center {
  text-align: center;
}

.a-indexSectionContent__title--right {
  text-align: right;
}

.a-textColor--black {
  color: @leeroyBlack;
}

.a-textColor--purple {
  color: @leeroyPurple;
}

.a-textColor--white {
  color: @leeroyWhite;
}

.a-textColor--blue {
  color: @leeroyBlue;
}

.a-textColor--gold {
  color: @leeroyGold;
}

.a-backgroundolor--black {
  background-color: @leeroyBlack;
}

.a-backgroundlor--purple {
  background-color: @leeroyPurple;
}

.a-backgroundolor--white {
  background-color: @leeroyWhite;
}

.a-backgroundColor--blue {
  background-color: @leeroyBlue;
}

.a-backgroundColor--gold {
  background-color: @leeroyGold;
}

.owl-dots {
  padding-top: 30px;

  .owl-dot {
    span {
      background: #ffffff !important;
      width: 9px !important;
      height: 9px !important;
    }
  }

  .active {
    span {
      background: @leeroyGold !important;
      width: 12px !important;
      height: 12px !important;

    }
  }
}
