// main: ../style.less

/*
* Filename: a-modifier.less
* Description: Atom modifiers in ABEM CSS method
* Author: Linus Sjöbro
*/


.a-title--left {
  text-align: left;
}

.a-title--center {
  text-align: center;
}

.a-title--right {
  text-align: right;
}

.a-textColor--black {
  color: @leeroyBlack;
}

.a-textColor--purple {
  color: @leeroyPurple;
}

.a-textColor--white {
  color: @leeroyWhite;
}

.a-textColor--blue {
  color: @leeroyBlue;
}

.a-textColor--gold {
  color: @leeroyGold;
}

.a-backgroundColor--black {
  background-color: @leeroyBlack;
}

.a-backgroundColor--purple {
  background-color: @leeroyPurple;
}

.a-backgroundColor--white {
  background-color: @leeroyWhite;
}

.a-backgroundColor--blue {
  background-color: @leeroyBlue;
}

.a-backgroundColor--gold {
  background-color: @leeroyGold;
}


.a-fontSize--20 {
  font-size: 20px;
}

.a-fontSize--25 {
  font-size: 25px;
}

.a-fontSize--30 {
  font-size: 30px;
}

.a-fontSize--35 {
  font-size: 35px;
}

.a-fontSize--40 {
  font-size: 40px;
}


.a-knowledgeHubCell__title--fontSize25 {
  font-size: 25px;
}

.a-knowledgeHubCell__title--fontSize45 {
  font-size: 45px;
  line-height: 1.3;
  margin-bottom: 20px;
}


.a-singlePostShareListItem__link.-facebook {
  &:hover {
    svg {
      fill: #3b5998;
      .svgCircle {
        stroke: #3b5998;
      }
    }
  }
}

.a-singlePostShareListItem__link.-google {
  &:hover {
    svg {
      fill: #ea4335;
      .svgCircle {
        stroke: #ea4335;
      }
    }
  }
}

.a-singlePostShareListItem__link.-twitter {
  &:hover {
    svg {
      fill: #1da1f2;
      .svgCircle {
        stroke: #1da1f2;
      }
    }
  }
}

.a-singlePostShareListItem__link.-linkedin {
  &:hover {
    svg {
      fill: #00a0dc;
      .svgCircle {
        stroke: #00a0dc;
      }
    }
  }
}

.a-listContent.-indexLineHeight {
  line-height: 1.8;
}

.a-listContent.-productsLineHeight {
  line-height: 2.2;
}

.a-twoColumnsProductPage.-image {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}

.a-twoColumnsProductPage__button.-right {
  align-self: flex-end;
}
