// main: ./style.less

//Global elements
p, a {
  font-family: 'proxima_novalight';
  font-weight: lighter;
}

h2, h5 {
  font-family: 'proxima_novabold';
  font-weight: normal;
  margin: 0; padding: 0;
}

h1 {
  font-family: 'FreightDispProBook-Regular';
	font-weight: normal;
	font-style: normal;
}

// Global variables
@extendedHeaderHeight: 90px;
@compressedHeaderHeight: 50px;

// Global colors
@leeroyWhite:   #FDFDFD;
@leeroyBlack:   #2F2F2F;
@leeroyBlue:    #0B4F6C;
@leeroyPurple:  #442D5E;
@leeroyGold:    #C9AD74;

// Global functions
.fadeInTransition(@duration) {
  transition:         @duration;
	-webkit-transition: @duration;
  -moz-transition:    @duration;
  -o-transition:      @duration;
}

.verticalAlign {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

// Buttons
.btnOutline {
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  border-color: @leeroyWhite;
  padding: 10px;
}
