// main: ./style.less

//Global elements
body {
  margin: 0;
  padding: 0;
}

p, a, span {
  font-family: 'proxima_novaregular';
}

h1 {
  font-family: 'FreightDispProLight-Regular';
  font-weight: normal;
  font-style: normal;

}

h2, h5 {
  font-family: 'proxima_novasemibold';
  font-weight: normal;
  margin: 0; padding: 0;
}

h3 {
  font-family: 'FreightDispProSemibold-Regular';
  font-weight: normal;
  font-style: normal;
}

// Global variables
@headerHeight: 70px;
@mobileHeaderHeight: 60px;

// Global colors
@leeroyWhite:   #FDFDFD;
@leeroyBlack:   #2F2F2F;
@leeroyBlue:    #0B4F6C;
@leeroyPurple:  #442D5E;
@leeroyGold:    #C9AD74;

@pureWhite:     #ffffff;
@secondaryContent: #aaaaaa;

// Global functions
.fadeInTransition(@duration) {
  transition:         @duration;
  transition-timing-function: ease-in-out;
	-webkit-transition: @duration;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition:    @duration;
  -moz-transition-timing-function: ease-in-out;
  -o-transition:      @duration;
  -o-transition-timing-function: ease-in-out;
}

.verticalAlign {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform:     translateY(-50%);
	transform:         translateY(-50%);
}

.row, .container {
  height: 100%;
}

.backgroundPosition {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

// Buttons
.btnOutline {
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  border-color: @leeroyWhite;
  padding: 10px 20px;
}
