// main: ./style.less
@media screen and (max-width: 767px) {
  .a-indexSectionContent__title {
    font-size: 25px;
  }
  .a-indexSectionContent__topTitle {
    font-size: 30px;
  }

  .m-indexSectionTopContent {
    font-size: 16px;
    padding-right: 25px;
  }

  .a-informationPage__title {
    font-size: 30px;
  }

  .a-informationPage__slogan {
    font-size: 16px;
  }

  .m-footer__nav {
    ul {
      left: 0;
    }
  }

  .a-footerNav__title {
    margin-bottom: 15px;
  }

  .a-aboutForm__icon {
    bottom: 15px;
    left: 15px;
    width: 50px;
    height: 50px;
  }

  .m-aboutPageTeamContent {
    padding-left: 15px;
    padding-right: 15px;
  }

  .m-knowledgeHubPost {
    height: 100%;
  }

  .a-knowledgeHubPostImage {
    padding-bottom: 56.25%;
  }

  .o-knowledgeHubContent {
    padding-left: 20px;
    padding-right: 20px;
  }

  .a-postAuthor_description {
    margin-top: 20px;
  }

  .m-postAuthorInfo {
    margin-top: 25px;
  }

  .o-informationPageBottomContent {
    padding-left: 25px;
    padding-right: 25px;
  }

  .m-contactFormButton {
    text-align: left;
  }

  .o-contactFormContent {
    margin-bottom: 25px;
  }

  .o-contactFormIcon {
    text-align: left;
  }

  .o-knowledgeHubCell {
    width: 100%;
  }

  .a-twoColumnsProductPage__title,
  .a-twoColumnsProductPage__subtitle {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .a-aboutForm__icon {
    top: 110px;
    right: 90px;
  }

  .m-aboutPageTeamContent {
    padding-left: 60px;
    padding-right: 60px;
  }

  .m-knowledgeHubPost {
    height: 300px;
  }

  .a-knowledgeHubPostImage {
    height: 100%;
  }

  .m-aboutTextColumnContent {
    &:nth-child(1) {
      padding-right: 50px;
    }

    &:nth-child(2) {
      padding-left: 50px;
    }
  }

  .o-knowledgeHubCell {
    width: ~"calc(50% - 7.5px)";
  }

  .m-productsPageContent {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    max-height: 400px;
  }
}

@media screen and (min-width: 992px) {
  .m-aboutTextColumnContent {
    &:nth-child(1) {
      padding-right: 100px;
    }

    &:nth-child(2) {
      padding-left: 100px;
    }
  }

  .o-knowledgeHubCell {
    width: ~"calc(33.3333% - 10px)";
  }
}

// IE 10 specific stuffs
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .a-elementToner {
    display: none;
  }
}
